<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhi.blog.mapper.ArticleMapper">

    <resultMap type="com.zhi.blog.domain.Article" id="ArticleResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="type" column="type"/>
        <result property="originalUrl" column="original_url"/>
        <result property="isTop" column="is_top"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewsCount" column="views_count"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <association property="sysOss" javaType="com.zhi.system.domain.SysOss">
            <id property="ossId" column="oss_id"></id>
            <result property="url" column="url"></result>
        </association>

    </resultMap>


    <resultMap id="articleHomeResultMap" type="com.zhi.blog.dto.ArticleHomeDTO">
        <id column="id" property="id"/>
        <result column="article_cover" property="articleCover"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>
        <result column="create_time" property="createTime"/>
        <result column="type" property="type"/>
        <result column="is_top" property="isTop"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <collection property="tagDTOList" ofType="com.zhi.blog.dto.TagDTO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>


    <select id="listArticles" resultMap="articleHomeResultMap">
        SELECT
            a.id,
            o.url as article_cover,
            article_title,
            SUBSTR( article_content, 1, 500 ) AS article_content,
            a.create_time,
            a.type,
            a.is_top,
            a.category_id,
            category_name,
            t.id AS tag_id,
            t.tag_name
            FROM
            (
            SELECT
                    id,
                    article_cover,
                    article_title,
                    article_content,
                    type,
                    is_top,
                    create_time,
                    category_id
                    FROM
                    blog_article
                    WHERE is_delete = 0
                    AND status = 1
                    ORDER BY
                    is_top DESC,
                    id DESC
                    LIMIT #{current} , #{size}
            ) a
                JOIN blog_category c ON a.category_id = c.id
                JOIN blog_article_tag atg ON a.id = atg.article_id
                JOIN blog_tag t ON t.id = atg.tag_id
                JOIN sys_oss o ON  o.oss_id = a.article_cover
        ORDER BY
            a.is_top DESC,
            a.id DESC
    </select>




</mapper>
